In [2]:
https://www.ncsbe.gov/index.html
https://dl.ncsbe.gov/index.html?prefix=ENRS/

In [24]:
# Possible hypothesis:

# If you are changing your party registrtaion, we can guess what party you changed to based on what 
# county you live in and what your original party registration was.

# Can also include year into analysis

# Can determine growth of Democrtatic and Republican parties, as well as independents based on voter 
# registration and date

# Based on how many registered Ds, Rs, and I's, we can predict who will win a particular election.

In [25]:
import pandas as pd

In [40]:
# Records of changing party registration in 2019
df = pd.read_csv('2019_party_change_list.csv')

# Election results: Municipal Elections: November 5 2019
results_df = pd.read_csv('results_pct_20191105.txt', sep="\t", header=0) # 2019 results

# Current Alamance county data: voter registration and voting history
#Alamance_cur_vot_reg_df = pd.read_csv('ncvoter1.txt', sep="\t", header=0)
Alamance_cur_vot_hist_df = pd.read_csv('ncvhis1.txt', sep="\t", header=0)

In [41]:
Alamance_cur_vot_hist_df.head()

,county_id,county_desc,voter_reg_num,election_lbl,election_desc,voting_method,voted_party_cd,voted_party_desc,pct_label,pct_description,ncid,voted_county_id,voted_county_desc,vtd_label,vtd_description
0,1,ALAMANCE,9050398,11/08/2016,11/08/2016 GENERAL,ABSENTEE ONESTOP,UNA,UNAFFILIATED,07,ALBRIGHT,AA100000,1,ALAMANCE,07,07
1,1,ALAMANCE,9050405,11/04/2014,11/04/2014 GENERAL,IN-PERSON,REP,REPUBLICAN,09S,SOUTH THOMPSON,AA100006,1,ALAMANCE,09S,09S
2,1,ALAMANCE,9050405,11/08/2016,11/08/2016 GENERAL,ABSENTEE ONESTOP,REP,REPUBLICAN,09S,SOUTH THOMPSON,AA100006,1,ALAMANCE,09S,09S
3,1,ALAMANCE,9050405,03/15/2016,03/15/2016 PRIMARY,IN-PERSON,REP,REPUBLICAN,09S,SOUTH THOMPSON,AA100006,1,ALAMANCE,09S,09S
4,1,ALAMANCE,9050405,11/06/2018,11/06/2018 GENERAL,IN-PERSON,REP,REPUBLICAN,09S,SOUTH THOMPSON,AA100006,1,ALAMANCE,09S,09S

In [27]:
df.describe(), df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108336 entries, 0 to 108335
Data columns (total 7 columns):
county_id        108336 non-null int64
 county_name     108336 non-null object
year_change      108336 non-null int64
voter_reg_num    108336 non-null int64
party_from       108336 non-null object
party_to         108336 non-null object
change_dt        108336 non-null object
dtypes: int64(3), object(4)
memory usage: 5.8+ MB

(           county_id  year_change  voter_reg_num
 count  108336.000000     108336.0   1.083360e+05
 mean       54.702103       2019.0   1.159754e+08
 std        27.558794          0.0   2.847375e+08
 min         1.000000       2019.0   2.000000e+00
 25%        33.000000       2019.0   1.444100e+05
 50%        60.000000       2019.0   7.622846e+06
 75%        79.000000       2019.0   3.117733e+07
 max       100.000000       2019.0   1.000543e+09, None)

In [28]:
df.head()

,county_id,county_name,year_change,voter_reg_num,party_from,party_to,change_dt
0,1,ALAMANCE,2019,6457900,REP,UNA,01/17/2019
1,1,ALAMANCE,2019,9089942,UNA,REP,01/17/2019
2,1,ALAMANCE,2019,9063104,UNA,REP,01/17/2019
3,1,ALAMANCE,2019,7572900,REP,UNA,01/17/2019
4,1,ALAMANCE,2019,9150051,DEM,UNA,01/17/2019

In [29]:
df.columns

Index(['county_id', ' county_name', 'year_change', 'voter_reg_num',
       'party_from', 'party_to', 'change_dt'],
      dtype='object')

In [35]:
df.county_id.unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

In [38]:
len(df[' county_name'].unique())

100

In [ ]:
# Looking at 300 classifications

In [20]:
results_df.describe()

,Contest Group ID,Vote For,Election Day,One Stop,Absentee by Mail,Provisional,Total Votes
count,33787.000000,33787.000000,33787.000000,33787.000000,33787.000000,33787.000000,33787.000000
mean,79833.420576,2.284725,51.561488,16.300707,0.586557,0.156362,68.605114
std,205382.799810,1.347410,101.359641,71.628672,9.497331,2.227693,139.978531
min,1.000000,1.000000,0.000000,-1.000000,0.000000,0.000000,0.000000
25%,3.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,9.000000,2.000000,1.000000,0.000000,0.000000,0.000000,4.000000
75%,21.000000,3.000000,59.000000,7.000000,0.000000,0.000000,77.000000
max,980019.000000,7.000000,1219.000000,3226.000000,666.000000,153.000000,3226.000000

In [21]:
results_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33787 entries, 0 to 33786
Data columns (total 15 columns):
County              33787 non-null object
Election Date       33787 non-null object
Precinct            33787 non-null object
Contest Group ID    33787 non-null int64
Contest Type        33787 non-null object
Contest Name        33787 non-null object
Choice              33787 non-null object
Choice Party        21587 non-null object
Vote For            33787 non-null int64
Election Day        33787 non-null int64
One Stop            33787 non-null int64
Absentee by Mail    33787 non-null int64
Provisional         33787 non-null int64
Total Votes         33787 non-null int64
Real Precinct       33787 non-null object
dtypes: int64(7), object(8)
memory usage: 3.9+ MB